<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="showError">
        Steam game with name {{errorText}} not found
    </div>
    <div class="form-group">
        <label for="search">Search</label>
        <input [(ngModel)]="gameInput" type="text" class="form-control" id="steamSearchInput" placeholder="Search for game"/>
    </div>
    <button class="btn btn-primary" (click)="getGameInfo()">Submit</button>
    <div *ngIf="showGameResult">
        <div class="row">
            <div class="card" style="width: 18rem;" *ngFor="let game of gamesFoundInSearch">
                <img class="card-img-top" [src]="game.data.header_image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://store.steampowered.com/app/{{game.data.steam_appid}}" target="_blank">{{game.data.name}}</a></h5>
                    <p>Price (discount applied): {{game.data.price_overview.final_formatted}}</p>
                </div>
            </div>
        </div>
    </div>
</div>